/* --------------------------------------------
                Compatibility 
 -------------------------------------------- */

header, title, content, section, footer, aside, nav, main, article, figure {
  display: block; 
}


/* --------------------------------------------
        Colors, opacity, and backgrounds
 --------------------------------------------*/

body {
    background-color: rgb(0, 0, 0, 1);
	color: rgb(203, 191, 231);
	text-rendering: optimizeLegibility;
}




body::after{
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;       
    background-image: url("Images/background.jpg");
    background-repeat: repeat;
    z-index:-1;
}

em {
    color: white; font-weight: bold; font-style: normal;
}

header, main {
    opacity:0.90;
}

section {
    background-color: #000000;
}



h1, title {
	font-family: 'Major Mono Display', monospace;
    color: #fff; 
    text-shadow:  1px 1px 2px rgba(0,0,0,1), 2px 3px 0px rgba(150, 150, 255, 0.3);
}

h2, h3, h4 {
    color: #fff; 
	line-height: 20px;
}

a:link {
    color: #51ff00;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: #3ab600;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: #c8ff00;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: #51ff00;
    text-decoration: none;
  }


/* --------------------------------------------
        Padding, margin, width 
 -------------------------------------------- */

body {
    padding:5vw;
}

header, main {
	width:50vw;
	min-width:600px;
	max-width:800px;
    margin: auto;
}
article {
	margin-bottom:1vw;
	max-height: 999999px;
} 
section {
    padding: 3vh;
    margin-bottom: 2vh;
}

h1, title {
	margin-bottom: 2vh;
	margin-top:2vh;
}

h2 {margin-top:4vh;}

ul {
	margin-bottom:2vh;
}

/* --------------------------------------------
        Fontsizes / fonts
 -------------------------------------------- */
html {
	font-size:14px;
}
header,
main {
	font-family: SFMono-Regular,Open Sans,Liberation Mono,Menlo,Courier,monospace;
	font-size:1rem;
}


h1, title {
	font-size: 1.2rem;
	
}

h2 {
	font-size: 1.1rem;
}

h3, h4 {
    font-size: 1rem;
}




/* --------------------------------------------
                    Elements 
 -------------------------------------------- */

ul {
    list-style-type: none;
}

/* --------------------------------------------
                    Classes 
 -------------------------------------------- */


 .buttonr {
	padding:1vh;
	margin:0.5vh;
	cursor: pointer;
	font-family: SFMono, Consolas,Liberation Mono,Menlo,Courier,monospace;
}

.buttonr:hover {
	background-color: #51ff00;
}

#nothing {
	cursor: pointer;
}

.column {
	background-color: rgb(240, 240, 240);
	color: rgb(26, 26, 26);
	font-family: SFMono-Regular, Open Sans, Consolas,Liberation Mono,Menlo,Courier,monospace;
	padding:0px;
}

.column article {
	margin:3vh;
	padding-top:5vh;
}

.long {

	position: relative;
}

 .column h1, 
 .column h2, 
 .column h3, 
 .column h4, 
 .column h5, 
 .column title {
	 color: rgb(11, 30, 48); text-shadow: none;
	 font-family: SFMono-Regular, Open Sans, Consolas,Liberation Mono,Menlo,Courier,monospace;
	 font-weight: bold;
 }

 .column h1, title {
	border-bottom:1px solid gray;
 }
 .column h2 {
	border-bottom:1px solid lightgray;
 }

 .column a:link, .column a:link, .column a:visited{
     color: #0264d4;
 }

 .column a:hover{
    color: #f81eff;
}

.column pre {
	border:1px solid gray;
}

.long article {
	overflow: hidden; max-height: 20vh;
}

.expander {
	width:100%; margin:10px; text-align: center; 
	cursor:pointer;
	margin:0px;
	background-color: rgb(230, 228, 228);
}

blockquote {
	border-left: .25em solid #dfe2e5;
	color: #1b589e;
	padding: 0 1em;
	margin: 0;
	margin-bottom: 16px;
	margin-top: 0;	
	margin-left:1em;
	
  }

pre {
	overflow:auto;
	padding:1em;
}
  
blockquote>:first-child {
	margin-top: 0;
  }
  
blockquote>:last-child {
	margin-bottom: 0;
  }